<!DOCTYPE html>
<html>
  <head>


  </head>
  <body>
    <form method="POST">
      <div style="background-color:black;color:white;padding:30px;">
      <p align="center"><h1>Stock Price Calculator</h1>
      </div>
      <p>
      <h3>Please Enter the details:</h3>
      Symbol <input name="symbol">
      <br>Allotment/ Number of shares <input name="allotment">
      <br>Final Share Price <input type = "number" name = "finalSharePrice">
      <br>Commission <input type = "number" name = "commission">
      <br>Initial Share Price <input type = "number" name = "initialSharePrice">
      <br>Buy Commission <input type = "number" name = "buyCommission">
      <br>Capital Gain <input  type = "number" name = "capitalGain">

      <br><input type="submit">

    </p>
    </form>
  </body>
</html>
