<!DOCTYPE html>
<style>

  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:40%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container1 {
    padding: 2px 16px;
}

.container{
    color:white;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.imageClass{
    display:inline;
    list-style-type:none;
}

</style>

{% extends "bootstrap/base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Stock Portfolio Suggestion Engine</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/stock-portfolio-homepage.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='stock_profile.js') }}"></script>
{#<script src="jquery-3.3.1.min.js"></script>#}

{#      <script#}
{#  src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
{#  crossorigin="anonymous"></script>#}
      <script
          src="https://code.jquery.com/jquery-1.9.1.min.js"
          integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="
          crossorigin="anonymous">

      </script>
      <script>
        $(document).ready(function () {

            $("input[name='strategy']").change(function () {
                var maxAllowed = 2;
                var cnt = $("input[name='strategy']:checked").length;
                if (cnt > maxAllowed) {
                    $(this).prop("checked", "");
                    alert('You can select maximum ' + maxAllowed + ' strategies!!');
                }
            });
            $(#pills-logout-tab).onclick(function)(){
              $(this).load("/login")
            }

        </script>
  </head>

<body onload="myFunction()">
{% block content %}
<nav class="navbar navbar-inverse" style="border-radius: 0px">
<div class="navbar-header" style="float: right;margin-top: 4px; font-family: cursive">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
      </li>
      <li class "nav-item">
         <a class="nav-link" id="pills-logout-tab" data-toggle="pill" href="#pills-logout" role="tab" aria-controls="pills-logout" aria-selected="false">Logout</a>
      </li>
    </ul>
</div>
</nav>



  <div class="container" align="center">
    <h1>Welcome to your Stock Portfolio</h1>
  </div>
  <!-- The video -->
  <video autoplay muted loop id="myVideo" width="1000" height="20">
    <source src="../static/images/numbers.mp4" type="video/mp4">
  </video>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <form id="contact" method="post" action="/stockportfolio" class="container">
      <fieldset>
      	<!--<br>-->
        <!--<label class="jumbotron" for="investment_value">Enter your investment value 22:</label>-->
        <!--<input type="text" id="investment_value" name="investment_value" /><br><br>-->

        <div class="form-group">
        <label for="investment_value">Enter your investment value</label>
        <input style="width: 18%;" type="text" class="form-control" id="investment_value" name="investment_value" placeholder="Enter your investment value">
        </div>





        <label for="allotment" class="investment-value-label">Select the investment strategies (one or more) :</label><br>


        <div class="card">

          <img src="../static/images/ethical.jpg" alt="Avatar" style="width:100%">
          <div class="container1" style="margin-top: 15px;">
            <input class= "single-checkbox" type="checkbox" name="strategy" value="Ethical Investing"><h4 style="margin-top: -22px;
            margin-left: 20px;"><b>Ethical Investing</b></h4>
          </div>
        </div>

        <div class="card" style="float: right;margin-top: -355px;margin-right: 139px;">
          <img src="../static/images/growthInvesting.jpg" alt="Avatar" style="width:100%">
          <div class="container1" style="margin-top: 15px;">
            <input class= "single-checkbox" type="checkbox" name="strategy" value="Growth Investing"><h4 style="margin-top: -22px;
            margin-left: 20px;"><b>Growth Investing</b></h4>
          </div>
        </div>

        <div class="card" style="margin-top: 110px;">
          <img src="../static/images/index.jpg" alt="Avatar" style="width:100%">
          <div class="container1" style="margin-top: 15px;">
            <input class= "single-checkbox" type="checkbox" name="strategy" value="Index Investing"><h4 style="margin-top: -22px;
            margin-left: 20px;"><b>Index Investing</b></h4>
          </div>
        </div>

        <div class="card" style="float: right;margin-top: -390px;margin-right: 139px;">
          <img src="../static/images/quality.jpg" alt="Avatar" style="width:100%">
          <div class="container1" style="margin-top: 15px;">
            <input class= "single-checkbox" type="checkbox" name="strategy" value="Quality Investing"><h4 style="margin-top: -22px;
            margin-left: 20px;"><b>Quality Investing</b></h4>
          </div>
        </div>

        <div class="card" style="margin-top: 110px;">
          <img src="../static/images/value.jpg" alt="Avatar" style="width:100%">
          <div class="container1" style="margin-top: 15px;">
            <input class= "single-checkbox" type="checkbox" name="strategy" value="Value Investing"><h4 style="margin-top: -22px;
            margin-left: 20px;"><b>Value Investing</b></h4>
          </div>
        </div>

        <!--<input type="submit" name="submit" id="submit" value="Calculate" />-->

        <input style="margin-top: 40px" class="btn btn-primary" type="submit" name="submit" id="submit" value="Invest!!">



      </fieldset>
    </form>
  </div>
  <div style="margin-top: -1400px; margin-left: 373px; color: white;" class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  Welcome to your profile.
  <form method="post" action="" enctype="multipart/form-data">
  <table width="332" height="210" border="0">
    <tr>
      <td width="155">Email</td>
      <td width="167">admin@gmail.com</td>
    </tr>
    <tr>
      <td>Username</td>

      <td>admin</td>
    </tr>

  </table>
  </form>
  </div>
  <div style="margin-top: -1400px; margin-left: 323px; color: white;"  class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
  Meet the team-Rutvik Pensionwar,Anup Kulkarni,Rucha Apte,Shripal Modani


  <ul >
    <li class="imageClass"  id="img_1"><img src="../static/images/rutvik.jpg" width="15%" height="7%"></li>
    <li class="imageClass" id="img_2"><img src="../static/images/anup.jpg" width="15%" height="10%"></li>
    <li class="imageClass" id="img_3"><img src="../static/images/rucha.jpg" width="20%" height="20%"></li>
    <li class="imageClass" id="img_4"><img src="../static/images/shripal.jpg" width="15%" height="10%"></li>
</ul>
  </div>
  <div style="color: white;" class="tab-pane fade" id="pills-logout" role="tabpanel" aria-labelledby="pills-logout-tab">
    <form id="contact" method="post" action="/logout" class="container">
    <fieldset>
    <h1>Are you sure you want to logout?<h1>

    <input style="margin-top: 40px" class="btn btn-primary" type="submit" name="submit" id="submit" value="Yes">

    </fieldset>
    </form>
</div>
{%- endblock %}

</body>
</html>
